.profile-details-card {
    max-width: 1000px;
    margin: 16px;
  }
  
  .profile-image {
    size: 10%;
    align-items: center;
    margin: auto;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  
  .profile-details div {
    display: flex;
    align-items: center;
  }
  
  .profile-details mat-icon {
    margin-right: 8px;
  }

 .buttons{
    align-items: center;
    margin: auto;
  }
  body{
    background-image: url('../../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  