<h2 class="heading">
    New Orders
  </h2>  
  <div >
       <div class="card" *ngFor="let o of Orders">
        <div >
          <h5 ><b>Id: </b>{{o['orderId']}}</h5>
          <h5 ><b>name: </b>{{o['docName']}}</h5>
          <h5 ><b>contact: </b>{{o['docContact']}}</h5>
          <h5 ><b>email: </b>{{o['docEmail']}}</h5>
          <h5 ><b>total amount: </b>{{o['total']}}</h5>
          <h5 ><b>Items description:</b> 
                <div *ngFor="let item of o['drugInfo'] | keyvalue">
                  Drug name: {{ item.key }}, quantity: {{ item.value }}
                </div>
               
          </h5> 
          <div class="button-container">
          <button mat-raised-button color="accent" class="custom-button">Verify</button>
        </div>
         </div> 
        </div>

        <div class="card" *ngIf="Orders.length===0">
            <h1>no new orders</h1>
        </div>

  </div>
